.footer_8-576 {
    padding: 48px 32px 80px 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    box-sizing: content-box;
    overflow: hidden;
    border-color: #d9d9d9;
    border-style: solid;
    border-top-width: 1px;
    background: #ffffff;
    height: 303px;
    width: -webkit-fill-available;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
    width: 262px;
  }
  .button-list_I8-576-78-26377 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
  }
  .x-logo_I8-576-325-12862 {
    position: relative;
    box-sizing: border-box;
    display: flex;
  }
  .icon_I8-576-325-12863 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .logo-instagram_I8-576-325-12998 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .icon_I8-576-325-12999 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .logo-youtube_I8-576-325-13119 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .icon_I8-576-325-13120 {
    top: 3px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .linkedin_I8-576-325-12716 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .icon_I8-576-325-12717 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  .text {
    color: #1e1e1e;
    font-size: 30px;
    font-family: Inter;
    line-height: 139.9999976158142%;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 470px;
    height: 85px;
  }
  