<div class="grid-container">
  <div class="image-band">
    <img src="banda.jpg" alt="Banda Image">
  </div>

  <div class="about-section">
    <h2>¿Quiénes somos?</h2>
    <p>
      Imagine Dragons es una banda estadounidense de pop rock originaria de Las
      Vegas, Nevada. Está compuesta por Dan Reynolds (vocalista, baterista),
      Wayne Sermon (guitarrista) y Ben McKee (bajista). Ganó el reconocimiento
      mundial con el lanzamiento de su álbum de estudio debut «Night Visions»
      (2012), y con su canción «It's Time».
    </p>
  </div>
  
  <div class="success-list">
    <h3>Lista de éxitos</h3>
    <ul>
      <li>Night Vision</li>
      <li>Smoke + Mirrors</li>
      <li>Evolve</li>
      <li>Origins</li>
      <li>Mercury - Acts 1 & 2</li>
    </ul>
  </div>

  <div class="image-albums">
    <img src="albums.jpg" alt="Albums Image">
  </div>
</div>
